<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}">
<link rel="icon" href="../static/images/logo.png">
<title>Home Page</title>
<!Provide path to link to styling file, image files and 3rd party javascript library––>
<!-- <img id="CommunityGarden" src="{{url_for('static', filename='images/CommunityGarden.png')}}" style="display: none;"> Display Image -->
<!Use of Javascript library socket.io.js to connect to the python web server––>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.2/socket.io.js"></script> -->
<!-- <script type="text/javascript">
    $(document).ready(function() {
    var socket = io.connect('http://172.27.145.141:5000');
});
</script> -->
</head>
<body>
<header>
    <nav>
        <a href="./">
            <div class="icon">
                <img src="../static/images/logo.png" alt="Icon">
                <p>Sproutify</p>
            </div>
        </a>
        <ul>
            <li><a href="./signup"; class="register">Register</a></li>
            <li><a href="./login"; class="login">Log in</a></li>
            <li><a href="./aboutus"; class="aboutus">About Us</a></li>
        </ul>
    </nav>
</header>
<section>
    <div class="section-1">
        <div class="tag">
            <h1>Revolutionizing Your Garden </br>with Smart IoT Solutions</h1>
            <p>Easily track and manage your garden’s health with real-time data, all from the palm of your hand</p>
            <button onclick="window.location.href='./login'">Transform Your Garden</button>
        </div>
        <div class="img">
            <img src="../static/images/garden.png" alt="Garden">
        </div>
    </div>
    <div class="section-2">
        <h1>Unlock <span>Sproutify</span></h1>
        <p>Discover our tools</p>
        <button onclick="window.location.href='./login'">Join Sproutify</button>
        <div class="display-grid">
            <div>
                <img src="../static/images/gardening.png" alt="Smart Gardening">
                <h1>Your Smart Garden</h1>
                <p>A personalized dashboard where users can view real-time data about their garden, such as soil moisture, temperature, light levels, and watering schedules.</p>
            </div>
            <div>
                <img src="../static/images/stats.png" alt="Garden Impact">
                <h1>Your Garden Impact</h1>
                <p>A page that tracks the environmental benefits of their garden (e.g., water saved, CO2 offset by plants, biodiversity supported) based on their gardening activity.</p>
            </div>
            <div>
                <img src="../static/images/video-tutorial.png" alt="Garden Impact">
                <h1>Interactive Tutorials</h1>
                <p>Step-by-step video or animated tutorials teaching users how to set up their smart gardening system and optimize its features.</p>
            </div>
            <div>
                <img src="../static/images/network.png" alt="Garden Impact">
                <h1>Garden Sharing</h1>
                <p>A tool to share photos or updates about their smart garden with friends or on social media, fostering a sense of community and inspiration.</p>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="footer-flex">
        <div class="social">
            <div class="icon">
                <img src="../static/images/logo.png" alt="Icon">
                <p>Sproutify</p>
            </div>
            <div>
                <a href="https://www.instagram.com/"><img src="../static/images/instagram.png" alt="Instagram"></a>
                <a href="https://x.com/"><img src="../static/images/twitter.png" alt="Twitter"></a>
                <a href="https://www.facebook.com/"><img src="../static/images/facebook.png" alt="Facebook"></a>
                <a href="https://sg.linkedin.com/"><img src="../static/images/linkedin.png" alt="LinkedIn"></a>
            </div>
        </div>
        <div class="grid-footer">
            <div>
                <p>Discover</p>
                <a href="#">Projects</a>
                <a href="#">Resources</a>
                <a href="#">Forum</a>
                <a href="#">#Hashtags</a>
                <a href="#">The Challenges</a>
            </div>
            <div>
                <p>About</p>
                <a href="#">About Us</a>
                <a href="#">Our Blog</a>
                <a href="#">Contact Us</a>
                <a href="#">Work with us</a>
                <a href="#">Learn More</a>
            </div>
            <div>
                <p>Collaborate</p>
                <a href="#">Involve your company</a>
                <a href="#">Partner with Us</a>
                <a href="#">Become an Ambassador</a>
                <a href="#">Volunteer Opportunities</a>
                <a href="#">Developer API</a>
            </div>
        </div>
    </div>
    <p class="policies"><a href="#">Terms of Use</a> · <a href="#">Terms of Service</a> · <a href="#">Privacy policy</a> · <a href="#">Cookies policy</a> · <a href="#">Consent preferences</a> · Copyright © 2025 - 2030 Sproutify SOLUTIONS, SL</p>
</footer>
</body>
</html>