<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' href="{{ url_for('static', filename='css/login.css') }}">
<link rel="icon" href="../static/images/logo.png">
<title>Login Page</title>
<img id="hide" src="{{url_for('static', filename='images/hide.png')}}" style="display: none;">
<img id="show" src="{{url_for('static', filename='images/view.png')}}" style="display: none;">
<!Provide path to link to styling file, image files and 3rd party javascript library––>
<!-- <img id="CommunityGarden" src="{{url_for('static', filename='images/CommunityGarden.png')}}" style="display: none;"> Display Image -->
<!Use of Javascript library socket.io.js to connect to the python web server––>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.2/socket.io.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
    var socket = io.connect('http://192.168.179.235:5000');
    });
</script>
</head>
<body>
<header>
    <nav>
        <a href="./">
            <div class="icon">
                <img src="../static/images/logo.png" alt="Icon">
                <p>Sproutify</p>
            </div>
        </a>
        <ul>
            <li><a href="./signup"; class="register">Register</a></li>
            <li><a href="./login"; class="login">Log in</a></li>
            <li><a href="./aboutus"; class="aboutus">About Us</a></li>
        </ul>
    </nav>
</header>
<section>
<div class="loginsection">
    <div class="logincenter">
        <h1>Login to Sproutify</h1>

        <form id="loginForm">
            <div class="input">
                <img class="left" src="../static/images/mail.png" alt="Email">
                <input id="email" type="email" name="Email Address"
                placeholder="Email Address" maxlength="60" size="70"
                required>
            </div>
            <div class="input">
                <img class="left" src="../static/images/padlock.png" alt="Password">
                <input id="password" class="password" type="password" name="Password" pattern="(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&*]).{10,25}"
                placeholder="Password" minlength="10" maxlength="25" size="30"
                title="Password must contain at least one number, one uppercase,&#013; lowercase letter and one special character, and at least 10 or &#013; more characters."
                required>
                <img id="right" src="../static/images/hide.png" alt="Hide Password">
                <script>
                    let eyeicon = document.getElementById("right");
                    let password = document.querySelector(".password");
                    var hide = document.getElementById("hide");
                    var show = document.getElementById("show");
                    eyeicon.onclick = function(){
                        if (password.type == "password"){
                            password.type = "text";
                            eyeicon.src = show.src;
                        }
                        else{
                            password.type = "password";
                            eyeicon.src = hide.src;
                        }
                    }
                    // Handle form submission
                    document.getElementById("loginForm").addEventListener("submit", function (e) {
                    e.preventDefault(); // Prevent the form from submitting

                    // Get email and password values
                    const email = document.getElementById("email").value;
                    const password = document.getElementById("password").value;

                    // Store data in localStorage
                    localStorage.setItem("userEmail", email);
                    localStorage.setItem("userPassword", password);

                    alert("Login successful!");
                    window.location.href = "./dashboard"; // Redirect to dashboard
                    });
                </script>
            </div>
            <div class="loginbottom">
                <div>
                    <a href="#" class="forgot">Forgot Password?</a>
                    <input type="submit" class="loginbtn" value="Login" name="SignIn">
                    <p>———— Don't have an account? ————</p>
                    <a href="./signup" class="signupbtn">Create An Account</a>
                </div>
            </div>
        </form>
    </div>
</div>

</section>
<footer>
    <div class="footer-flex">
        <div class="social">
            <div class="icon">
                <img src="../static/images/logo.png" alt="Icon">
                <p>Sproutify</p>
            </div>
            <div>
                <a href="https://www.instagram.com/"><img src="../static/images/instagram.png" alt="Instagram"></a>
                <a href="https://x.com/"><img src="../static/images/twitter.png" alt="Twitter"></a>
                <a href="https://www.facebook.com/"><img src="../static/images/facebook.png" alt="Facebook"></a>
                <a href="https://sg.linkedin.com/"><img src="../static/images/linkedin.png" alt="LinkedIn"></a>
            </div>
        </div>
        <div class="grid-footer">
            <div>
                <p>Discover</p>
                <a href="#">Projects</a>
                <a href="#">Resources</a>
                <a href="#">Forum</a>
                <a href="#">#Hashtags</a>
                <a href="#">The Challenges</a>
            </div>
            <div>
                <p>About</p>
                <a href="#">About Us</a>
                <a href="#">Our Blog</a>
                <a href="#">Contact Us</a>
                <a href="#">Work with us</a>
                <a href="#">Learn More</a>
            </div>
            <div>
                <p>Collaborate</p>
                <a href="#">Involve your company</a>
                <a href="#">Partner with Us</a>
                <a href="#">Become an Ambassador</a>
                <a href="#">Volunteer Opportunities</a>
                <a href="#">Developer API</a>
            </div>
        </div>
    </div>
    <p class="policies"><a href="#">Terms of Use</a> · <a href="#">Terms of Service</a> · <a href="#">Privacy policy</a> · <a href="#">Cookies policy</a> · <a href="#">Consent preferences</a> · Copyright © 2025 - 2030 Sproutify SOLUTIONS, SL</p>
</footer>
</body>
</html>